/* General Settings */

body {
    color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.white-rule {
    background-color: white !important;
}

/* Nav Bar */

.logo {
    height: auto;
    max-height: 100px;
}

.navbar { 
    margin-bottom: 0;
    border: 0;
    width: 100%;
    /*background-color: transparent !important;*/
    position: fixed;
    z-index: 999;
}


.navbar-dark {
    background-color:rgba(0, 0, 0, 0.25) !important;
}

.navbar .navbar-toggler {
    border: 0;
}

/* Hero Image & Call-Out Container */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/assets/images/hero-image.jpg");
    height: 90vh;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: white;
}

.callout-btn {
    border: 1px solid white;
    border-radius: 0;
    color: white;
    font-weight: 400;
}

.callout-heading {
    font-weight: 500;
    font-size: 50px;
}

.callout-body-text {
    text-transform: uppercase;
    color: #5983D9;
    font-weight: 800;
    font-size: 40px;
}
.callout-btn:hover {
    background-color: white;
    color: #BF8654;
}

/* Features Section */

.feature i { /* this class will target feat 1,2 & 3 size */
    margin-bottom: 20px;
    font-size: 45px;
    line-height:45px;
    color: #BF8654;
}

.feature-heading {
    font-weight: 300;
    
}

.feature-text {
    font-weight: 300;
    font-size: 16px;
    color: #444444;
}

/* Bookings Info Section */

#bookings-container {
    background-color: black;
    color: white;
}

.bookings-info-header {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
}

.bookings-info-text {
    font-weight: 300;
}

/* Cleaning Service Section */

#cleaning-container {
    background-image: url(/assets/images/cleaning-service.jpg);
    height: 65vh;
    padding: 0;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cleaning-row {
    margin-left: 10%;
    margin-right: 0;
    padding-top: 2%;
}

.cleaning {
    background-color: rgb(255, 255, 255, 0.5);
    color: black;
    padding-left: 10px;
    margin-top: 40px;
}

.cleaning-header {
    font-weight: 300;
    color: #444444;
}

.emphasis {
    color: #37D932;
}

.cleaning-text {
    font-weight: 300;
    color: #444444;
}

/* Decorating Tips Section */

#decorating-container {
    background-image: url(/assets/images/decorating-tips.jpg);
    height: 65vh;
    padding: 0;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.decorating-row {
    margin-right: 10%;
    margin-left: 0;
    padding-top: 2%;
}

.decorating {
    background-color: rgb(255, 255, 255, 0.75);
    color: black;
    padding-left: 10px;
    margin-top: 40px;
}

.decorating-header {
    font-weight: 300;
    color: #444444;
}

.emphasis {
    color: #37D932;
}

.decorating-text {
    font-weight: 300;
    color: #444444;
}

/* Animated Results Section */

.b-results {
    padding-top: 46px;
    text-align: center;
}

.results-header {
    font-size: 40px;
    color: #444444;
    margin-bottom: 20px;
    font-weight: 300;
}

.result-item {
    position: relative;
    max-width: 250px;
    width: 100px;
    margin-bottom: 40px;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    margin-bottom: 27px;
    border: 3px solid white;
    border-radius: 50%;
    background: white;
}

.result-item .chart, 
.result-item .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.result-item .chart:before {
    content: "";
    width: 0;
    height: 100%;
}

.result-item .chart:before,
.result-item .percent {
    display: inline-block;
    vertical-align: middle;
}

.result-item .percent {
    position: relative;
    line-height: 1;
    font-size: 70px;
    color: #333;
    font-weight: 300;
    z-index: 2;
}

.result-item .percent:after {
    content: attr(data-after);
    font-size: 20px;
}

.results-p {
    font-weight: 300;
    color: #444444;
    font-size: 18px;
    margin-top: 40px;
    
}