/* General Settings */

html  {
    height: 100%;
    overflow: hidden;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* Nav Bar */

.logo {
    height: auto;
    max-height: 100px;
}
.navbar { 
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: transparent !important;
}

.navbar .navbar-toggler {
    border: 0;
}


/* Hero Image */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/assets/images/hero-image.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}